[submodule "services/auth"]
	path = services/auth
	url = git@github.com:IshrakAdit/caresync-auth-service.git
[submodule "services/location"]
	path = services/location
	url = git@github.com:IshrakAdit/caresync-location-service.git
[submodule "services/data"]
	path = services/data
	url = git@github.com:IshrakAdit/caresync-data-service.git
[submodule "services/feedback"]
	path = services/feedback
	url = git@github.com:IshrakAdit/caresync-feedback-service.git
[submodule "clients/web-app"]
	path = clients/web-app
	url = git@github.com:hasnainadil/caresync-web-service.git
